# shellcheck disable=SC2034
## Here you edit/update your settings that will be used for your docker-compose
## This will only work if you follow exactly the path structure in the Guide !!!
COMPOSE_PROJECT_NAME=

## Global Settings
# <change "/volume1/docker/appdata" with the path your configs will be>
DOCKERCONFDIR=
# <change "/volume1/data" with the path where your library + torrent/usenet downloads both are>
DOCKERSTORAGEDIR=
# <you must find out your PUID/PGID through SSH, run in terminal: id $user. If needed, change $user to the user you created.>
PUID=
PGID=
# <change to your timezone>
TZ=
# Dockerlogging and max size
DOCKERLOGGING_MAXFILE=3
DOCKERLOGGING_MAXSIZE=10m

# Diun - Docker Image Update Notifier (monitors only, doesn't auto-update)
# Watch schedule: Cron format (e.g., "0 */6 * * *" for every 6 hours)
DIUN_WATCH_SCHEDULE=
# Discord Webhook: Use the actual Discord webhook URL directly
# Get webhook URL from Discord: Server Settings > Integrations > Webhooks > Copy Webhook URL
# Format: https://discord.com/api/webhooks/WEBHOOK_ID/TOKEN
# Example: https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN
# IMPORTANT: Use the Discord URL directly - NO conversion needed!
DIUN_DISCORD_WEBHOOK_URL=

# VPN
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=
FIREWALL_VPN_INPUT_PORTS=
SERVER_COUNTRIES=

SONARR_API_KEY=
RADARR_API_KEY=

# Gramps config
TREE=
BASE_URL=
SECRET_KEY=
USER_DB_URI=

OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_NAME=
OIDC_SCOPES=
OIDC_AUTO_REDIRECT=
OIDC_DISABLE_LOCAL_AUTH=

OIDC_GOOGLE_CLIENT_ID=
OIDC_GOOGLE_CLIENT_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
