(authenticate) {
    reverse_proxy /outpost.goauthentik.io/* http://192.168.10.7:9000

    forward_auth http://192.168.10.7:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
        trusted_proxies private_ranges
    }
}

{
    admin :2019
}

*.home.brianpooe.com {
    tls {
        dns cloudflare {env.DNS_PROVIDER_TOKEN}
    }

    @unifi host unifi.home.brianpooe.com
    handle @unifi {
        reverse_proxy 192.168.10.15:8443 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @tplink8pe host tplink8pe.home.brianpooe.com
    handle @tplink8pe {
        reverse_proxy 192.168.1.9
    }

    @tplink16de host tplink16de.home.brianpooe.com
    handle @tplink16de {
        reverse_proxy 192.168.1.8
    }

    # Proxmox
    @proxmox host proxmox.home.brianpooe.com
    handle @proxmox {
        reverse_proxy 192.168.10.10:8006 {
            transport http {
                tls_insecure_skip_verify
            }
            header_up Host {upstream_hostport}
        }

        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
            X-Content-Type-Options "nosniff"
            X-Frame-Options "SAMEORIGIN"
            Referrer-Policy "no-referrer"
        }

        encode gzip
    }

    # Proxmox Backup Server
    @pbs host pbs.home.brianpooe.com
    handle @pbs {
        reverse_proxy 192.168.10.8:8007 {
            transport http {
                tls_insecure_skip_verify
            }
            header_up Host {upstream_hostport}
        }

        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
            X-Content-Type-Options "nosniff"
            X-Frame-Options "SAMEORIGIN"
            Referrer-Policy "no-referrer"
        }

        encode gzip
    }

    # Running on proxmox
    @pdf host pdf.home.brianpooe.com
    handle @pdf {
        import authenticate
        reverse_proxy 192.168.10.12:8080
    }
    # Running on proxmox
    # https://github.com/paperless-ngx/paperless-ngx/wiki/Using-a-Reverse-Proxy-with-Paperless-ngx#nginx
    @paperless host paperless-ngx.home.brianpooe.com
    handle @paperless {
        reverse_proxy 192.168.10.13:8000 {
            header_down Referrer-Policy "strict-origin-when-cross-origin"
        }
    }
    # Running on proxmox
    @homepage host homepage.home.brianpooe.com
    handle @homepage {
        import authenticate
        reverse_proxy 192.168.10.14:3000
    }

    # Running on proxmox
    @uptimekuma host uptimekuma.home.brianpooe.com
    handle @uptimekuma {
        reverse_proxy 192.168.10.16:3001
    }

    # Running on proxmox
    @minio host minio.home.brianpooe.com
    handle @minio {
        reverse_proxy 192.168.10.9:9001
    }

    # Running on proxmox
    @minioapi host minio-api.home.brianpooe.com
    handle @minioapi {
        reverse_proxy 192.168.10.9:9000
    }

    # Running on proxmox
    @plane host plane.home.brianpooe.com
    handle @plane {
        reverse_proxy 192.168.10.17:80
    }

    # Running on proxmox
    @ntfy host ntfy.home.brianpooe.com
    handle @ntfy {
        reverse_proxy 192.168.10.6:80
    }

    # Running on proxmox
    @authentik host authentik.home.brianpooe.com
    handle @authentik {
        reverse_proxy 192.168.10.7:9000
    }

    # pihole running on a raspberry pi different vlan
    @pihole host pihole.home.brianpooe.com
    handle @pihole {
        encode zstd gzip
        rewrite * /admin{uri}
        reverse_proxy 192.168.60.5:80
    }

    # The rest of the apps are running in docker inside synology nas
    @nas host nas.home.brianpooe.com
    handle @nas {
        reverse_proxy 192.168.10.24:5000
    }

    @emby host emby.home.brianpooe.com
    handle @emby {
        reverse_proxy 192.168.10.24:8096
    }

    @qbittorrent host qbittorrent.home.brianpooe.com
    handle @qbittorrent {
        reverse_proxy 192.168.10.24:8080
    }

    @radarr host radarr.home.brianpooe.com
    handle @radarr {
        reverse_proxy 192.168.10.24:7878
    }

    @sonarr host sonarr.home.brianpooe.com
    handle @sonarr {
        reverse_proxy 192.168.10.24:8989
    }

    @prowlarr host prowlarr.home.brianpooe.com
    handle @prowlarr {
        reverse_proxy 192.168.10.24:9696
    }

    @bazarr host bazarr.home.brianpooe.com
    handle @bazarr {
        reverse_proxy 192.168.10.24:6767
    }

    @sabnzbd host sabnzbd.home.brianpooe.com
    handle @sabnzbd {
        reverse_proxy 192.168.10.24:8282
    }

    @jellyseerr host jellyseerr.home.brianpooe.com
    handle @jellyseerr {
        reverse_proxy 192.168.10.24:5055
    }

    @flaresolverr host flaresolverr.home.brianpooe.com
    handle @flaresolverr {
        reverse_proxy 192.168.10.24:8191
    }

    @gluetun host gluetun.home.brianpooe.com
    handle @gluetun {
        reverse_proxy 192.168.10.24:8000
    }
}
