# <you must find out your PUID/PGID through SSH, run in terminal: id $user. If needed, change $user to the user you created.>
PUID=
PGID=
# <change to your timezone>
TZ=

# Homepage
## pfsense
HOMEPAGE_VAR_PFSENSE_URL=
HOMEPAGE_VAR_PFSENSE_USERNAME=
HOMEPAGE_VAR_PFSENSE_PASSWORD=
HOMEPAGE_VAR_PFSENSE_API_KEY=
HOMEPAGE_VAR_PFSENSE_WAN=
## proxmox
HOMEPAGE_VAR_PROXMOX_URL=
HOMEPAGE_VAR_PROXMOX_USERNAME=
HOMEPAGE_VAR_PROXMOX_API_KEY=
## pihole
HOMEPAGE_VAR_PIHOLE_URL=
HOMEPAGE_VAR_PIHOLE_API_KEY=
## synology nas
HOMEPAGE_VAR_SYNOLOGY_NAS_URL=
HOMEPAGE_VAR_SYNOLOGY_USERNAME=
HOMEPAGE_VAR_SYNOLOGY_PASSWORD=
HOMEPAGE_VAR_SYNOLOGY_VOLUME=
## emby
HOMEPAGE_VAR_EMBY_URL=
HOMEPAGE_VAR_EMBY_API_TOKEN=
## jellyseerr
HOMEPAGE_VAR_JELLYSEER_URL=
HOMEPAGE_VAR_JELLYSEER_API_KEY=
## radarr
HOMEPAGE_VAR_RADARR_URL=
HOMEPAGE_VAR_RADARR_API_KEY=
## sonarr
HOMEPAGE_VAR_SONARR_URL=
HOMEPAGE_VAR_SONARR_API_KEY=
## prowlarr
HOMEPAGE_VAR_PROWLARR_URL=
HOMEPAGE_VAR_PROWLARR_API_KEY=
## bazarr
HOMEPAGE_VAR_BAZARR_URL=
HOMEPAGE_VAR_BAZARR_API_KEY=
## gluetun
HOMEPAGE_VAR_GLUETUN_URL=
HOMEPAGE_VAR_GLUETUN_API_KEY=
## qbittorrent
HOMEPAGE_VAR_QBITTORRENT_URL=
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
## sabnzbd
HOMEPAGE_VAR_SABNZBD_URL=
HOMEPAGE_VAR_SABNZBD_API_KEY=
## papaerless-ngx
HOMEPAGE_VAR_PAPERLESS_NGX_URL=
HOMEPAGE_VAR_PAPERLESS_NGX_TOKEN=
## caddy
HOMEPAGE_VAR_CADDY_URL=
## stirling pdf
HOMEPAGE_VAR_STIRLING_PDF_URL=
## flaresolverr
HOMEPAGE_VAR_FLARESOLVERR_URL=
## homelab github
HOMEPAGE_VAR_HOMEPAGE_GITHUB_URL=