TREE="{{TREE}}"
BASE_URL="{{BASE_URL}}"
SECRET_KEY="{{SECRET_KEY}}"
USER_DB_URI="{{USER_DB_URI}}"
SEARCH_INDEX_DB_URI="sqlite:////opt/gramps-web/data/indexdir/search_index.db"
MEDIA_BASE_DIR="/opt/gramps-web/data/media"
STATIC_PATH="/opt/gramps-web/frontend/dist"
THUMBNAIL_CACHE_CONFIG={"CACHE_TYPE":"FileSystemCache","CACHE_DIR":"/opt/gramps-web/data/cache/thumbnail","CACHE_THRESHOLD":1000,"CACHE_DEFAULT_TIMEOUT":0}
REQUEST_CACHE_CONFIG={"CACHE_TYPE":"FileSystemCache","CACHE_DIR":"/opt/gramps-web/data/cache/request","CACHE_THRESHOLD":1000,"CACHE_DEFAULT_TIMEOUT":0}
PERSISTENT_CACHE_CONFIG={"CACHE_TYPE":"FileSystemCache","CACHE_DIR":"/opt/gramps-web/data/cache/persistent","CACHE_THRESHOLD":0,"CACHE_DEFAULT_TIMEOUT":0}
REPORT_DIR="/opt/gramps-web/data/cache/report"
EXPORT_DIR="/opt/gramps-web/data/cache/export"

# Custom OIDC Configuration
OIDC_ENABLED=True
OIDC_ISSUER="{{OIDC_ISSUER}}"
OIDC_CLIENT_ID="{{OIDC_CLIENT_ID}}"
OIDC_CLIENT_SECRET="{{OIDC_CLIENT_SECRET}}"
OIDC_NAME="{{OIDC_NAME}}"
OIDC_SCOPES="openid email profile"
OIDC_AUTO_REDIRECT={{OIDC_AUTO_REDIRECT}}
OIDC_DISABLE_LOCAL_AUTH={{OIDC_DISABLE_LOCAL_AUTH}}

OIDC_GOOGLE_CLIENT_ID="{{OIDC_GOOGLE_CLIENT_ID}}"
OIDC_GOOGLE_CLIENT_SECRET="{{OIDC_GOOGLE_CLIENT_SECRET}}"

EMAIL_HOST="{{EMAIL_HOST}}"
EMAIL_PORT="{{EMAIL_PORT}}"
EMAIL_USE_TLS=True
EMAIL_HOST_USER="{{EMAIL_HOST_USER}}"
EMAIL_HOST_PASSWORD="{{EMAIL_HOST_PASSWORD}}"
DEFAULT_FROM_EMAIL="{{DEFAULT_FROM_EMAIL}}"
